body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #231f20;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid #ccc;
  width: 600px;
}

#gameScore {
  font-family: "Poppins";
  font-weight: regular;
  position: absolute;
  color: white;
  top: 0;
  left: 20px;
}
