body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #231f20;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid #ccc;
  width: 600px;
}


#gameScore {
  font-weight: regular;
  color: rgb(255, 255, 255);
}


#gameUsername {
  display: flex;
  color: rgba(255, 255, 255, 0.274);
  margin-right: 10px;
}

#gameData {
  position: absolute;
  font-family: "Poppins";
  top: 0;
  left: 20px;
  bottom: 0;
}
